<template>
   <Area :src="img.src">
      <template v-slot:titulo>
         <h1>CODE</h1>
      </template>
      <template v-slot:info>
         Es un equipo de estudiantes, sin fines de lucro, que con iniciativa, esfuerzo y dedicación buscamos difundir la cultura emprendedora a todo aquel que se atreva a descubrir el emprendedor que lleva dentro.
         <br><br>
         Misión:
         <br>
         Promover la cultura emprendedora para la formación de líderes competentes que contribuyan al desarrollo del país.
         <br><br>
         Visión:
         <br>
         Ser reconocidos como uno de los congresos de emprendimiento más importante del Perú.
      </template>
   </Area>
</template>

<script>
   import Area from "../components/Area.vue"
    export default {
        name: "Code",
        components:{
            Area
        },
        data(){
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            
            }
        },

    }
</script>

<style scoped>

</style>
