<template>
   <Area :src="img.src">
      <template v-slot:titulo>
         <h1>REVISTA COMPETITIVIDAD </h1>
      </template>
      <template v-slot:info>
         Competitividad nació siendo una iniciativa de estudiantes de la Universidad Nacional de Ingeniería pertenecientes al Centro Cultural Tecnológica Avanzada (CCAT), que en el año 1994 decidieron complementar la educación que se impartía en los salones con experiencias profesionales de los profesionales TOP del país.
         <br><br>
         Han logrado consolidar parte de su potencial en una Revista y Página Web especializada en Gestión Empresarial.
         <br><br>
         Competitividad es un medio que tiene como objeto brindar información actualizada sobre herramientas de gestión empresarial que permitan la correcta toma de decisiones, tratando temas relacionados a Gestión de Operaciones, Dirección, Marketing, Tecnologías de Información, Economía y Finanzas, entre otros.
      </template>
   </Area>
</template>

<script>
    import Area from "../components/Area.vue"
    export default {
        name: "Competividad",
        components:{
            Area
        },
        data(){
            return{
                img: {titulo: '', src: require('@/assets/image.png')},
                
            }
        },
    }
</script>

<style scoped>

</style>
