<template>
  <div class="home">
    <br>
    <Carrousel/>
    <Tarjetas :datas="tarjetas"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'
import Cabecera from '@/components/Cabecera.vue'
import Carrousel from '@/components/Carrousel.vue'
import Tarjetas from "./Tarjetas";
export default {
  name: 'home',
  components: {
    Tarjetas,
    Cabecera,Carrousel
  },
  data(){
    return{
      tarjetas:[
        {
          title:'Title 1 ',
          img:'https://picsum.photos/300/300/?image=41',
          text:'This is a wider card with supporting text below as a natural lead-in to additional content.' +
             'This content is a little bit longer.'
        },
        {
          title:'Title 2',
          img:'https://picsum.photos/300/300/?image=41',
          text:'This is a wider card with supporting text below as a natural lead-in to additional content.' +
             'This content is a little bit longer.'
        },
        {
          title:'Title 3',
          img:'https://picsum.photos/300/300/?image=41',
          text:'This is a wider card with supporting text below as a natural lead-in to additional content.' +
             'This content is a little bit longer.'
        },
        {
          title:'Title 4',
          img:'https://picsum.photos/300/300/?image=41',
          text:'This is a wider card with supporting text below as a natural lead-in to additional content.' +
             'This content is a little bit longer.'
        },
      ]
    }
  }
}
</script>
