<template>
   <div class="mt-4">
      <b-tabs content-class="mt-3">
         <b-tab title="Historia" >
            <section class="m-1">
               <div>El Centro Cultural Avanzada Tecnológica (CCAT) es una organización de estudiantes y egresados, fundada en la Facultad de Ingeniería Industrial y de Sistemas de la Universidad Nacional de Ingeniería un 22 de Mayo de 1991, como una iniciativa de estudiantes cuya motivación especial era emprender un gran reto: Complementar la formación Empresarial, Académica, Cultural y Humana de los futuros profesionales para un mejor desarrollo de nuestra Sociedad.
                  <br><br>A lo largo de los años nuestra organización fue creciendo gracias al empuje dado por sus fundadores, y al interés e iniciativa de otros jóvenes estudiantes que vieron en nuestra institución un medio de desarrollo.
                  <br><br>Actualmente contamos con más de doscientos miembros, integrados tanto en la vida profesional como estudiantil que trabajan fuertemente en los diferentes grupos de desarrollo de nuestro Centro. Es así como el CCAT, viene organizando y apoyando la realización de diferentes actividades, como son:
               </div >
               <div class="m-3 list">
                  <li> Conferencias, mesas redondas y tertulias.</li>
                  <li> Visitas Técnicas y Culturales.</li>
                  <li> Talleres y Programas de Formación Profesional y Humana.</li>
                  <li> Intercambio de experiencias académicas y empresariales</li>
                  <li> Ponencias en Congresos Nacionales e Internacionales.</li>
                  <li> Edición Semestral de la Revista Competitividad.</li>
                  <li> Investigación y desarrollo de proyectos para el beneficio de la Universidad y de la Sociedad.</li>
                  <li> Formación de Centros Culturales en distintas Universidades del Perú.</li>
               </div>
            </section>
            
         </b-tab>
         <b-tab title="Misión y Visión">
            <b-row>
               <b-col>
                  <div class="circle-with-text container">
                     <div>
                        <h2><u>Misión</u></h2>
                        Contribuir en la formación académica, cultural, humana e investigativa de los estudiantes de la Facultad de Ingeniería Industrial y de Sistemas de la UNI.
                     </div>
                  </div>
               </b-col>
               <b-col>
                  <div class="circle-with-text container">
                  <div>
                     <h2><u>Visión</u></h2>
                  </div>
               </div>
               </b-col>
            </b-row>
            
            
         </b-tab>
         <b-tab title="Equipo">
            <p>I'm a disabled tab!</p>
         </b-tab>
      </b-tabs>
   </div>
</template>

<script>
    export default {
        name: "QuienesSomos",
        data() {
            return {
            }
        },

    }
</script>

<style >
   .block {
      border: 1px solid #0024ff;
      text-align: center;
      vertical-align: middle;
   }
   .circle-with-text {
      background: #1e6cff;
      border-radius: 250px;
      color: white;
      height: 250px;
      font-weight: bold;
      width: 250px;
      display: table;
      margin: 20px auto;
      text-align: center;
   }
   .circle-with-text div {
      vertical-align: middle;
      display: table-cell;
   }
</style>
