<template>
   <div>
      <b-card-group deck>
         <Tarjeta v-for="(data,index) in datas" :data="data"/>
      </b-card-group>

   </div>

</template>

<script>
   
    import Tarjeta from "../components/Tarjeta";
    export default {
        name: "Tarjetas",
        components: {
            Tarjeta
        },
        props: {
            datas: Array,
        }
    }
</script>

<style scoped>

</style>
