<template>
   <div>
      <Area :src="img.src">
         <template v-slot:titulo>
            <h2>Dirección de Gestión del Talento Humano</h2>
         </template>
         <template v-slot:info>
            La función principal de esta dirección es impulsar inculcar y mantener la Cultura Organizacional del CCAT organizando eventos que propicien la confraternidad entre los miembros y refuercen la red de contactos, además, la dirección debe hacer un seguimiento del rendimiento académico de los miembros del CCAT sin excepción y realizar capacitaciones internas que ayuden a elaborar los proyectos adecuadamente.
            <br>
            <br>
            En el presente semestre la dirección realizó la Bienvenida ccatina para los ingresantes del 2019-1, un programa de capacitación denominado “Conociendo mi Carrera con la voz de le experiencia el cual se dio con egresados del CCAT y el evento de celebración del Aniversario N° 28 del Centro Cultural.
         </template>
      </Area>


   </div>
  
</template>

<script>
    import Area from "@/components/Area.vue"
    export default {
        name: "Area4",
        components:{
            Area
        },
        data() {
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            }
        }

    }
</script>

<style scoped>

</style>
