<template>
   <div>
      <Area :src="img.src">
         <template v-slot:titulo>
            <h2>Dirección de Cultura y Desarrollo Humano </h2>
         </template>
         <template v-slot:info>
            La función principal de esta dirección es fomentar en los miembros la capacidad de iniciativa, habilidades socioculturales, entre otros, creando una identidad distintiva en el miembro ccatino basada en ética, lealtad, respeto y empatia que nos permita tener conciencia social ante las diversas capacidades que existen en la sociedad. En la comunidad universitaria, la dirección, tiene por objetivo fomentar hábitos que los enriquezcan culturalmente gestionando actividades que refuercen las competencias blandas necesarias para insertarse en el mercado laboral (tertulias, talleres, ponencias, clases magistrales, conferencias, etc.).
            <br><br>
            En este semestre, la dirección llevó a cabo una visita a los Museos de la Nación y Lugar de la Memoria, proyectó una película con bastante contenido de aprendizaje | y realizó diversas tertulias con egresados destacados en el medio laboral, que han pertenecido al CCAT mientras eran estudiantes de la FIIS.
         </template>
      </Area>
   </div>
</template>

<script>
    import Area from "../Area";

    export default {
        name: "Area3",
        components:{
            Area
        },
        data() {
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            }
        }

    }
</script>

<style scoped>

</style>
