<template>
   <div>
      <Area :src="img.src">
         <template v-slot:titulo>
            <h2>Dirección de Investigación, Desarrollo e Innovación</h2>
         </template>
         <template v-slot:info>
            La función principal de esta dirección es formar equipos que ayuden a comprender los diversos campos de la Ingeniería Industrial y la Ingeniería de Sistemas con miras a una futura especialización, desarrollando proyectos de investigación en temas afines a las carreras.
            <br>
            <br>
            El área de l+D+l es muy importante, ya que; promueve la formación de investigadores los cuales comprenden el trabajo creativo de forma sistemática para incrementar el volumen de conocimientos y el uso de esos conocimientos para crear nuevas aplicaciones.
            <br>
            <br>
            Este semestre se está realizando el proyecto Diseño de un modelo predictivo para el control de riesgos de incendios y accidentes de tránsito; el objetivo del proyecto es identificar una problemática y las variables existentes, para los fenómenos de incendios y accidentes de tránsito con el fin de desarrollar un modelo predictivo y así poder controlar los riesgos ocasionados por estos fenómenos
         </template>
      </Area>
   </div>
  
</template>

<script>
   import Area from "@/components/Area.vue"
    export default {
        name: "Area2",
        components:{
            Area
        },
        data() {
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            }
        }
        
    }
</script>

<style scoped>

</style>
