<template>
   <div>
      <Area :src="img.src">
         <template v-slot:titulo>
            <h2>GERENCIA DE TECNOLOGÍA DE LA INFORMACIÓN</h2>
         </template>
         <template v-slot:info>
            Las funciones principales de esta gerencia son brindar apoyo en temas de tecnología de la información a todas las actividades desarrolladas por el CCAT y gestionar la información del CCAT con las herramientas pertinentes.
         </template>
      </Area>
   </div>
</template>

<script>
    import Area from "@/components/Area.vue"
    export default {
        name: "Area7",
        components:{
            Area
        },
        data() {
            return{
                img: {titulo: '', src: require('@/assets/logo.png')}
            }
        }

    }
</script>

<style scoped>

</style>
