<template>
   <div>
         <b-card  class="overflow-hidden" >
            <b-row no-gutters>
               <b-col md="8">
                  <b-card-body>
                     <b-card-title>
                        <slot name="titulo">
                        </slot>
                     </b-card-title>
                     <b-card-text >
                        <slot name="info">
                        </slot>
                     </b-card-text>
                  </b-card-body>
               </b-col>
               <b-col md="4" class="align-self-center " align="center">
                  <b-card
                     overlay
                     :img-src="src"
                     img-alt="Card image"
                     class="mb-2 justify-content-md-center"
                     style="max-width: 22rem ; max-heigth: 22rem;"
                     
                  >
                  </b-card>
               </b-col>
            </b-row>
         </b-card>
   </div>
  
</template>

<script>
    export default {
        name: "Area",
        props: {
            src: String,
        }
    }
</script>

<style scoped>

</style>
