<template>
  <div id="app" >
     <b-navbar toggleable="lg" type="dark" variant="primary" sticky>
        <b-container>
           <b-container>
              <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
              <b-navbar-brand :to="{name: 'home'}" class="ml-2">
                 <img src="@/assets/logoCCAT.png" style="height:36px " class="d-inline-block align-top" alt="CCAT" >
                 <span class="ml-2">CCAT</span>
              </b-navbar-brand>
           </b-container>
           <b-collapse id="nav-collapse" is-nav>
              <b-navbar-nav>
                 <b-nav-item :to="{name: 'home'}" exact-active-class="active" >Inicio</b-nav-item>
                 <b-nav-item :to="{name: 'quienesSomos'}"  exact-active-class="active">¿Quienes Somos?</b-nav-item>
                 <b-nav-item-dropdown text="Areas" left>
                    <b-dropdown-item v-for="(item,index) of areas" :key="index"
                                     :to="{ name: 'areas' , params: { id : item.id }}" exact-active-class="active">
                       {{item.title}}
                    </b-dropdown-item>
                 </b-nav-item-dropdown>
                 <b-nav-item :to="{name: 'code'}" exact-active-class="active">CODE</b-nav-item>
                 <b-nav-item :to="{name: 'competividad'}" exact-active-class="active">Competividad</b-nav-item>
                 <b-nav-item :to="{name: 'about'}" exact-active-class="active">About</b-nav-item>
              </b-navbar-nav>
           </b-collapse>
        </b-container>

     </b-navbar>

     <b-container >
        <transition  name="fade" mode="out-in">
           <router-view/>
        </transition>
     </b-container>
      <Footer></Footer>
  </div>
</template>

<script>
    import 'bootstrap/dist/css/bootstrap.css'
    import 'bootstrap-vue/dist/bootstrap-vue.css'
    import {mapState} from 'vuex';
    import Footer from "./components/Footer";
    export default{
    name: 'app',
      components: {
          Footer
      },
      data(){
          return{
          }
      },
      computed:{
          ...mapState(['areas'])
      }
  }
  
</script>
<style>
   .fade-enter {
      opacity: 0;
   }
   
   .fade-enter-active {
      transition: opacity 0.5s ease;
   }
   
   .fade-leave {}
   
   .fade-leave-active {
      transition: opacity 0.5ms ease;
      opacity: 0;
   }
</style>
